/* stylelint-disable scss/dollar-variable-empty-line-before */

/*********************************** Layout ***********************************/

$room-padding-inline: 80px;
$room-padding-top: 110px;
$room-padding-bottom: 48px;
