@mixin fixed-inset($inset: 0) {
  position: fixed;
  inset: $inset;
}

@mixin absolute-inset($inset: 0) {
  position: absolute;
  inset: $inset;
}

@mixin flex-center-both($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-cross($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin grid-center-both {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin no-interaction {
  pointer-events: none;
  user-select: none;
}
