/* stylelint-disable scss/dollar-variable-empty-line-before */

/********************************** Objects ***********************************/

$frame-width: 460px;

$credenza-width: 1250px;
$credenza-content-width: 272px; // Update when credenza contents change

/*********************************** Layout ***********************************/

$staging-gap: 8rem;

$scene-padding-inline: 140px;
$scene-padding-top: 20rem;

$scene-threshold-width: max(
  $scene-padding-inline * 2 + $frame-width,
  $credenza-content-width
);
$scene-threshold-height: 960px; // No safeguards for height - manual calculation
