.hallway {
  @include size(100%);
}

.track {
  @include size(100%);
  @include no-scrollbar;

  display: flex;
  overflow-x: auto;

  scroll-snap-type: x proximity;
}

.bay {
  flex: 0 0 100%;
  min-width: 0;

  scroll-snap-align: start;
}
